<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Nuri Blog</a></h1>
        </header>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p><strong>author: </strong>{{ post.author }}</p>
            </article>
        {% endfor %}
    </body>
</html>